body {
    max-width: 60vw;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4em;

    font-family: Helvetica Neue, sans-serif;

}

h1 {font-size: 32px;}

h2 {font-size: 14px;
font-weight: 400;}

p, a {
    font-size: 12px;
}

/* input fields */
input[type=text] {
    border: 1px solid red;
    border-radius: 4px;
    padding: 4px;
}

.link-section {
    margin-top: 2em;
}

