@font-face {
    font-family: 'Gridular-Regular';
    src: url('fonts/Gridular-Regular.woff2') format('woff2'),
        url('fonts/Gridular-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    max-width: 60vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4em;
    font-family: Helvetica Neue, sans-serif;
    background: radial-gradient(circle, rgba(174, 238, 180, 0.342) 0%, rgba(148,187,233,0.17970938375350143) 100%);
}

h1 {
    font-family: Gridular-Regular;
    font-size: 36px;
    color: rgb(55, 172, 133);
}

h2 {font-size: 14px;
font-weight: 400;}

p, a {
    font-size: 14px;
}

.intro{
    position: relative;
    border: 1.5px solid rgb(71, 71, 71);
    padding: 24px;
    box-shadow: 4px 4px #bbb;
    background: rgba(236, 253, 254, 0.57);
    border-radius: 2px;
    line-height: 26px;
}

.intro h1 {
    margin-bottom: 0.4em;
    margin-top: 0.2em;
}

.intro span {
    font-size: 10px;
}

.about {
    position: absolute;
    bottom: 1em;
    right: 2em;
    text-underline-offset: 3px;
}

/* input fields */
input[type=url] {
    width: 40vw;
    border-radius: 4px;
    padding: 0.2rem 0.6rem 0.2rem;
    white-space: nowrap;
    text-decoration: none;
    color: #000;
    border: 1.4px solid #000;
    outline: none;
    background: #fff;
    box-shadow: 2px 2px #bbb;
}

input[type=url]:focus {
    background: rgb(220, 251, 177);
    box-shadow: none;
}

#linkBtn, #shareBtn, #titleBox{
    width: fit-content;
    cursor: pointer;
    border-radius: 4px;
    padding: 0.2rem 0.6rem 0.2rem;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    color: #000;
    border: 1.4px solid #000;
    outline: none;
    background: #fff;
    box-shadow: 2px 2px #bbb;
    margin-top: 4px;
}

#linkBtn:hover, #shareBtn:hover {
    box-shadow: none;
    background: rgb(220, 251, 177);
}

#shareBtn {
    /* position absolute relative to .intro div */
    position: absolute;
    top: 1em;
    right: 2em;
}

.link-section a {
    background: rgb(238, 237, 237);
    padding: 4px;
    line-height: 2.4em;
}

#titleBox {
    font-size: 18px;
    font-family: Gridular, sans-serif;
    margin-bottom: 0.5em;
}

.addLinkSection, .link-section {
    margin-top: 1em;
}